name: test python code

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov
        if [ -f setup.py ]; then pip install .; fi

    - name: run tests with coverage
      run: |
        pytest --cov=indisoluble.a_healthy_dns --cov-report=term --cov-report=xml

    - name: upload coverage reports to codecov
      uses: codecov/codecov-action@v5
      with:
        name: codecov-umbrella
        flags: unittests
        files: ./coverage.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: false
